
<nav class="navbar navbar-expand-lg py-4 bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      {{!-- <img src="public/images/ee2299a4d7eae72326fef11689c5df49.jpg" width="50vw" height="50vh" style="border-radius:50% ;"> --}}
      <img src="https://th.bing.com/th/id/OIP.TzCIwQKRy-Z3tooAgSOwJAHaH0?pid=ImgDet&rs=1" width="60px" height="60" style="border-radius: 50%;" alt="jpg">
        Grow Skills Services ❣️👍</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pl-5" style="position: sticky;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/#services_section">services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/#contact_us_section">About us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="/#contact_us_section">contact us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="/user/signup">sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/user/Login">sign in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>